* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a:visited,
a:focus {
  color: #222;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #222;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: #c0d8de;
  border-bottom: 2px solid #828282;
}

.nav {
  padding: 15px 15px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item a {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 18px;
  color: #222;
  text-decoration: none;
  transition: 0.5s;
}

.nav__item a:hover {
  background-color: #222;
  color: #fff;
}

.sidebar {
  width: 30%;
  padding: 0px 35px;
  background-color: #c0d8de;
}

.sidebar__section {
  margin-bottom: 40px;
}

.sidebar__section:after {
  content: "";
  display: block;
  position: relative;
  top: 20px;
  width: 55%;
  height: 2px;
  margin: 0 auto;
  background-color: #828282;
}

.sidebar .section-title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.sidebar__section.profile {
  margin-top: 40px;
}

.profile {
  text-align: center;
}

.profile__photo {
  margin-bottom: 20px;
  border-radius: 50%;
}

.profile__title {
  margin: 10px 0px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
}

.profile__subtitle {
  margin: 0;
  font-weight: 400;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contacts__item a {
  color: #222;
}

.contacts__item:before {
  width: 20px;
  font-family: FontAwesome;
  text-align: center;
}

.contacts__item--telegram:before {
  content: "\f2c6";
}

.contacts__item--email:before {
  content: "\f0e0";
}

.contacts__item--location:before {
  content: "\f041";
}

.contacts__item--discord:before {
  content: "\f392";
}

.main {
  width: 70%;
  padding: 40px 35px;
  background-color: #e4e6e7;
}

.main__section {
  margin-bottom: 60px;
}

.main__title {
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 30px;
  background-color: #222;
  font-size: 22px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
}

.skills__item {
  width: calc(100% / 3);
  padding: 0 10px;
  margin-bottom: 20px;
}

.skills__item .item__title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item__progress-bar {
  width: 100%;
  height: 10px;
  margin-top: 10px;
  background-color: #c3c3c3;
}

.progress-bar__body {
  height: 100%;
  background-color: #222;
}

.main__code .pre {
  padding: 15px;
  border: 2px solid #828282;
  border-radius: 5px;
}

.main__code code {
  white-space: break-spaces;
  word-break: break-word;
}

.experience__item .item__title {
  margin-bottom: 40px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #c5c5c5;
}

.experience__item .item__description {
  display: flex;
  flex-wrap: wrap;
}

.experience__item .item__description p {
  width: 50%;
  margin: 0;
}

.experience__item .item__description img {
  width: 50%;
  transition: transform 0.3s;
  border-radius: 5px;
}

.experience__item .item__description img:hover {
  transform: scale(1.02);
}

.experience__item .item__link {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.5s;
}

.experience__item .item__link .fab {
  margin-right: 5px;
}

.experience__item .item__link:hover {
  background-color: #222;
  color: #fff;
}

.education__item {
  margin-bottom: 10px;
  font-size: 18px;
}

.education__item ul {
  padding-left: 10px;
}

.education__item a {
  display: inline-block;
  padding: 5px 10px;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.5s;
}

.education__item a:hover {
  background-color: #222;
  color: #fff;
}

.language__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.language__item {
  width: calc(100% / 3);
  margin-bottom: 20px;
}

.language__item .item__title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-top: 2px solid #828282;
  background-color: #c0d8de;
}
